.link {
    color: #666666;
}

.link:hover {
    text-decoration: none;
    background-color: #fafafa;
}

.link:visited {
    text-decoration: none;
    color: #666666;
}

.sns-button {
    font-size: 2rem;
}