// Place all the styles related to the shoes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.shoe-card-image {
    transition: filter 0.5s ease-in-out;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
.shoe-card-image:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
