<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>HypeNews</strong> by <a class="link" href="https://github.com/woobaik">Joungwoo Baik</a>. The source code is licensed
      <a class="link" href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
      is licensed <a class="link" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
    </p>

    <div class="columns">
        <div class="column is-three-fifths is-offset-one-fifth">
            <a class="link sns-button" href="https://www.linkedin.com/in/baik">
                <i class="fab fa-linkedin"></i>
            </a>
            <a class="link sns-button" href="https://github.com/woobaik">
                <i class="fab fa-github-square"></i>
            </a> 
        </div>
    </div>
  </div>
</footer>